/* ------------------ General CSS ------------------ */
body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

a {
    color: #1dbf73;
    transition: 0.3s;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

p {
    color: #fff;
    margin: 0 0 15px 0;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* ------------------ Header CSS ------------------- */
.main-header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 997;
}

.main-header.header-scrolled {
    background: #fff;
    padding: 20px 0;
    height: 72px;
}

.main-header .site-logo {
    float: left;
}

.main-header .site-logo h1 {
    font-size: 34px;
    letter-spacing: 5px;
}

/* ----------------- Slider Section ---------------- */
.main-slider .carousel-slide::before {
    content: '';
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.main-slider .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.main-slider .slide-background img {
    max-width: 100%;
}

.main-slider .slide-content {
    text-align: center;
}

.main-slider p {
    width: 80%;
    margin: 0 auto 30px auto;
}

.main-slider .cta-button {
    display: inline-block;
    padding: 10px 30px;
    transition: 0.3s;
    background: #1dbf73;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-slider .cta-button:hover {
    background: #ffffff;
    color: #1dbf73;
}

/* ------------------ Navigation CSS ---------------- */
#navigation-menu {
    float: right;
}

.menu-list {
    margin: 0;
    list-style: none;
}

.menu-list > li {
    float: left;
    margin-left: 10px;
}

.menu-list a {
    display: inline-block;
    padding: 0 8px 10px 8px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
}

.menu-list li:hover > a,
.menu-list > .menu-item-active > a {
    color: #1dbf73;
}

/* ---------------- Responsive Design -------------- */
@media (max-width: 768px) {
    .main-header .site-logo h1 {
        font-size: 28px;
    }

    .main-slider h2 {
        font-size: 28px;
    }

    #navigation-menu {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }
}
